doctype
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title personal
        link(rel='stylesheet' href='/static/css/style.css')
    body
        div#root index page
        script(type='text/javascript' src='/static/js/bundle.js')
