@import "../../bower_components/spectre.css/src/spectre";
@import "../../bower_components/spectre.css/src/spectre-icons";

html,
body,
#root {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-wrapper {
  flex: 1 0 auto;
}

.tile-title {
  margin-bottom: 0.5rem;
}

// Helpers
.mt-3 {
  margin-top: 3rem;
}

.btn-success {
  background: #32b643;
  color: #ffffff;
  border: #ffffff;
}